In [1]:
import graphlab as gl
gl.canvas.set_target('ipynb')

In [2]:
vertices = gl.SFrame.read_csv('http://s3.amazonaws.com/dato-datasets/bond/bond_vertices.csv')
edges = gl.SFrame.read_csv('http://s3.amazonaws.com/dato-datasets/bond/bond_edges.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to stewart.christophermichael@gmail.comand will expire on September 25, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-82933 - Server binary: /Users/christopherstewart/.graphlab/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1443236586.log
[INFO] GraphLab Server Version: 1.6.1

PROGRESS: Downloading http://s3.amazonaws.com/dato-datasets/bond/bond_vertices.csv to /var/tmp/graphlab-christopherstewart/82933/31866913-e0c8-4c5c-8ba1-3669ec53cee7.csv
PROGRESS: Finished parsing file http://s3.amazonaws.com/dato-datasets/bond/bond_vertices.csv
PROGRESS: Parsing completed. Parsed 10 lines in 0.031674 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file http://s3.amazonaws.com/dato-datasets/bond/bond_vertices.csv
PROGRESS: Parsing completed. Parsed 10 lines in 0.014917 secs.
PROGRESS: Downloading http://s3.amazonaws.com/dato-datasets/bond/bond_edges.csv to /var/tmp/graphlab-christopherstewart/82933/e986b59c-16d1-4197-ae10-fc35873d693e.csv
PROGRESS: Finished parsing file http://s3.amazonaws.com/dato-datasets/bond/bond_edges.csv
PROGRESS: Parsing completed. Parsed 20 lines in 0.014833 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file http://s3.amazonaws.com/dato-datasets/bond/bond_edges.csv
PROGRESS: Parsing completed. Parsed 20 lines in 0.016287 secs.

In [3]:
vertices.show()

In [4]:
edges.show()

In [5]:
g = gl.SGraph()

In [6]:
g = g.add_vertices(vertices=vertices, vid_field='name')

In [7]:
g = g.add_edges(edges=edges, src_field='src', dst_field='dst')

In [8]:
g.get_vertices()

Columns:
	__id	str
	gender	str
	license_to_kill	int
	villian	int

Rows: 10

Data:
+----------------+--------+-----------------+---------+
|      __id      | gender | license_to_kill | villian |
+----------------+--------+-----------------+---------+
|   Moneypenny   |   F    |        1        |    0    |
| Inga Bergstorm |   F    |        0        |    0    |
|  Henry Gupta   |   M    |        0        |    1    |
|    Wai Lin     |   F    |        1        |    0    |
|  Paris Carver  |   F    |        0        |    1    |
|       M        |   M    |        1        |    0    |
|       Q        |   M    |        1        |    0    |
|   James Bond   |   M    |        1        |    0    |
| Elliot Carver  |   M    |        0        |    1    |
|   Gotz Otto    |   M    |        0        |    1    |
+----------------+--------+-----------------+---------+
[10 rows x 4 columns]

In [9]:
g.get_edges()

Columns:
	__src_id	str
	__dst_id	str
	relation	str

Rows: 20

Data:
+----------------+----------------+------------+
|    __src_id    |    __dst_id    |  relation  |
+----------------+----------------+------------+
|   Moneypenny   |       M        | managed_by |
| Inga Bergstorm |   James Bond   |   friend   |
|   Moneypenny   |       Q        | colleague  |
|  Henry Gupta   | Elliot Carver  | killed_by  |
|       Q        |   Moneypenny   | colleague  |
|       M        |   Moneypenny   |  worksfor  |
|   James Bond   | Inga Bergstorm |   friend   |
|   James Bond   |       M        | managed_by |
|       Q        |       M        | managed_by |
|    Wai Lin     |   James Bond   |   friend   |
+----------------+----------------+------------+
[20 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [10]:
g.get_edges(fields={'relation': 'friend'})

Columns:
	__src_id	str
	__dst_id	str
	relation	str

Rows: 4

Data:
+----------------+----------------+----------+
|    __src_id    |    __dst_id    | relation |
+----------------+----------------+----------+
| Inga Bergstorm |   James Bond   |  friend  |
|   James Bond   | Inga Bergstorm |  friend  |
|    Wai Lin     |   James Bond   |  friend  |
|   James Bond   |    Wai Lin     |  friend  |
+----------------+----------------+----------+
[4 rows x 3 columns]

In [11]:
pr = gl.pagerank.create(g)

PROGRESS: Counting out degree
PROGRESS: Done counting out degree
PROGRESS: +-----------+-----------------------+
PROGRESS: | Iteration | L1 change in pagerank |
PROGRESS: +-----------+-----------------------+
PROGRESS: | 1         | 6.65833               |
PROGRESS: | 2         | 4.65611               |
PROGRESS: | 3         | 3.46298               |
PROGRESS: | 4         | 2.55686               |
PROGRESS: | 5         | 1.95422               |
PROGRESS: | 6         | 1.42139               |
PROGRESS: | 7         | 1.10464               |
PROGRESS: | 8         | 0.806704              |
PROGRESS: | 9         | 0.631771              |
PROGRESS: | 10        | 0.465388              |
PROGRESS: | 11        | 0.364898              |
PROGRESS: | 12        | 0.271257              |
PROGRESS: | 13        | 0.212255              |
PROGRESS: | 14        | 0.159062              |
PROGRESS: | 15        | 0.124071              |
PROGRESS: | 16        | 0.0935911             |
PROGRESS: | 17        | 0.0727674             |
PROGRESS: | 18        | 0.0551714             |
PROGRESS: | 19        | 0.0427744             |
PROGRESS: | 20        | 0.0325555             |
PROGRESS: +-----------+-----------------------+

In [12]:
pr.get('pagerank').topk(column_name='pagerank')

Columns:
	__id	str
	pagerank	float
	delta	float

Rows: 10

Data:
+----------------+----------------+-------------------+
|      __id      |    pagerank    |       delta       |
+----------------+----------------+-------------------+
|   James Bond   | 2.52743578524  |  0.0132914517076  |
|       M        | 1.87718696576  |  0.00666194771763 |
|   Moneypenny   | 1.18363921275  |  0.00143637385736 |
|       Q        | 1.18363921275  |  0.00143637385736 |
|    Wai Lin     | 0.869872717136 |  0.00477951418076 |
| Inga Bergstorm | 0.869872717136 |  0.00477951418076 |
| Elliot Carver  | 0.634064732205 | 0.000113553313724 |
|  Henry Gupta   | 0.284762885673 | 1.89255522873e-05 |
|  Paris Carver  | 0.284762885673 | 1.89255522873e-05 |
|   Gotz Otto    | 0.284762885673 | 1.89255522873e-05 |
+----------------+----------------+-------------------+
[10 rows x 3 columns]

#Fire up GraphLab Create

In [13]:
import graphlab

#Load a tabular data set

In [15]:
sf = graphlab.SFrame('people-example.csv')

PROGRESS: Finished parsing file /Users/christopherstewart/Desktop/ML_specialization/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.036024 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /Users/christopherstewart/Desktop/ML_specialization/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.011881 secs.

#SFrame basics

In [16]:
sf # see first few lines of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [17]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [18]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

#GraphLab Canvas

In [19]:
# Take any data structure in GraphLab Create
sf.show()

In [20]:
graphlab.canvas.set_target('ipynb')

In [21]:
sf['age'].show(view="Categorical")

#Inspect some columns of the data set

In [22]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [24]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [26]:
sf['age'].mean()

23.142857142857146

In [27]:
sf['age'].max()

25

#Create new columns in our SFrame

In [28]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [29]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [31]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576, 529, 484, 529, 529, 484, 625]

#Use the apply function to do an advanced transformation of our data

In [32]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [33]:
sf['Country'].show()

In [34]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else: 
        return country

In [35]:
transform_country('Brazil')

'Brazil'

In [36]:
transform_country('Brasil')

'Brasil'

In [37]:
transform_country('USA')

'United States'

In [38]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [39]:
sf['Country'] = sf['Country'].apply(transform_country)

In [40]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]